body {
    margin: 0px;
}

.outer-container {
 display: grid;
 grid-template-columns: 1fr 4fr 1fr;
}

.library-column-1, .library-column-2 {
    writing-mode: vertical-rl;
    justify-self: center;
    align-self: center;
    white-space: pre;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: rgb(16, 103, 5);
    padding: 10px 0px;
}

.library-column-1 {
    transform: scale(-1);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid rgb(16, 103, 5);
    border-bottom: 1px solid rgb(16, 103, 5);
    margin-top: 20px;
}

.new-button {
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
    color: rgb(16, 103, 5);
    background-color: white;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgb(16, 103, 5);
    border-bottom: 1px solid rgb(16, 103, 5);
    border-radius: 0px;
    font-family: 'Arial', sans-serif;
    margin: 50px 0px;
    width: 80px;
}

.book-card {
    display: inline-flex;
    flex-direction: column;
}